css
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(to right, #ff8c00, #ff0080);
}

input,
button {
    margin: 10px;
    padding: 5px;
}

#resultBox {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #fff;
    color: #333;
    display: inline-block;
}